# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a currupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

#  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [18]:
import pandas as pd
df = pd.read_csv('Data/Zipcode_Demos.csv', skiprows=47)
df

df2 = pd.read_csv('Data/Zipcode_Demos.csv', skiprows=[1], nrows=45, usecols=[0,1,2])
df2


# actual csv information does not start until line 47
# the previous lines are just each of the columns and averages

     0                   Average Statistics  Unnamed: 2
0    2                    JURISDICTION NAME   10005.800
1    3                   COUNT PARTICIPANTS       9.400
2    4                         COUNT FEMALE       4.800
3    5                       PERCENT FEMALE       0.404
4    6                           COUNT MALE       4.600
5    7                         PERCENT MALE       0.396
6    8                 COUNT GENDER UNKNOWN       0.000
7    9               PERCENT GENDER UNKNOWN       0.000
8   10                   COUNT GENDER TOTAL       9.400
9   11                 PERCENT GENDER TOTAL      80.000
10  12               COUNT PACIFIC ISLANDER       0.000
11  13             PERCENT PACIFIC ISLANDER       0.000
12  14                COUNT HISPANIC LATINO       2.000
13  15              PERCENT HISPANIC LATINO       0.105
14  16                COUNT AMERICAN INDIAN       0.000
15  17              PERCENT AMERICAN INDIAN       0.000
16  18             COUNT ASIAN NON HISPANIC       3.600
17  19           PERCENT ASIAN NON HISPANIC       0.437
18  20             COUNT WHITE NON HISPANIC       0.800
19  21           PERCENT WHITE NON HISPANIC       0.036
20  22             COUNT BLACK NON HISPANIC       2.600
21  23           PERCENT BLACK NON HISPANIC       0.181
22  24                COUNT OTHER ETHNICITY       0.400
23  25              PERCENT OTHER ETHNICITY       0.040
24  26              COUNT ETHNICITY UNKNOWN       0.000
25  27            PERCENT ETHNICITY UNKNOWN       0.000
26  28                COUNT ETHNICITY TOTAL       9.400
27  29              PERCENT ETHNICITY TOTAL      79.900
28  30       COUNT PERMANENT RESIDENT ALIEN       0.500
29  31     PERCENT PERMANENT RESIDENT ALIEN       0.061
30  32                     COUNT US CITIZEN       8.900
31  33                   PERCENT US CITIZEN       0.739
32  34           COUNT OTHER CITIZEN STATUS       0.000
33  35         PERCENT OTHER CITIZEN STATUS       0.000
34  36         COUNT CITIZEN STATUS UNKNOWN       0.000
35  37       PERCENT CITIZEN STATUS UNKNOWN       0.000
36  38           COUNT CITIZEN STATUS TOTAL       9.400
37  39         PERCENT CITIZEN STATUS TOTAL      80.000
38  40     COUNT RECEIVES PUBLIC ASSISTANCE       2.300
39  41   PERCENT RECEIVES PUBLIC ASSISTANCE       0.151
40  42    COUNT NRECEIVES PUBLIC ASSISTANCE       7.100
41  43  PERCENT NRECEIVES PUBLIC ASSISTANCE       0.649
42  44      COUNT PUBLIC ASSISTANCE UNKNOWN       0.000
43  45    PERCENT PUBLIC ASSISTANCE UNKNOWN       0.000
44  46        COUNT PUBLIC ASSISTANCE TOTAL       9.400

## Level Up (Optional)

### Loading Corrupt CSV files

Occassionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is suppossed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restuarant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restuarant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [27]:
#Hint: here's a useful programming pattern to use.
try:
    df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
    #do something
except Exception as e:
    print(e)
    #handle your exception e
    
for i in range(1500,2000):
    try:
        df = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv')
    except:
        print('first failure at: {}'.format(i))
        break

df1 = pd.read_csv('Data/Yelp_Reviews_Corrupt.csv', nrows=i-1)
df1.head()

Error tokenizing data. C error: Expected 10 fields in line 2331, saw 11

first failure at: 1500

,Unnamed: 0,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,1,pomGBqfbxcqPv14c3XH-ZQ,0,2012-11-13,0.0,dDl8zu1vWPdKGihJrwQbpw,5.0,I love this place! My fiance And I go here atl...,0.0,msQe1u7Z_XuqjGoqhB0J5g
1,2,jtQARsP6P-LbkyjbO1qNGg,1,2014-10-23,1.0,LZp4UX5zK3e-c5ZGSeo3kA,1.0,Terrible. Dry corn bread. Rib tips were all fa...,3.0,msQe1u7Z_XuqjGoqhB0J5g
2,4,Ums3gaP2qM3W1XcA5r6SsQ,0,2014-09-05,0.0,jsDu6QEJHbwP2Blom1PLCA,5.0,Delicious healthy food. The steak is amazing. ...,0.0,msQe1u7Z_XuqjGoqhB0J5g
3,5,vgfcTvK81oD4r50NMjU2Ag,0,2011-02-25,0.0,pfavA0hr3nyqO61oupj-lA,1.0,This place sucks. The customer service is horr...,2.0,msQe1u7Z_XuqjGoqhB0J5g
4,10,yFumR3CWzpfvTH2FCthvVw,0,2016-06-15,0.0,STiFMww2z31siPY7BWNC2g,5.0,I have been an Emerald Club member for a numbe...,0.0,TlvV-xJhmh7LCwJYXkV-cg

In [ ]:
#Your code here